@tailwind base;


@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.carousel-container {
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  gap: 3rem;
  transition: transform 500ms ease-in-out;
}

.leaflet-container {
  height: 500px;
  width: 100%;
}

.breadcrumb {
  background-color: #f8f9fa;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  border-radius: 0.25rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "›";
  display: inline-block;
  margin-right: 0.5rem;
  color: #6c757d;
}

.breadcrumb-item a {
    align-items: center;
  }
  .breadcrumb-item a svg {
    margin-right: 0.5rem;
  }
  
  a:hover {
  text-decoration: none;
}

@media (max-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.modal-image {
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: contain;
  cursor: zoom-in;
  transition: transform 0.2s;
}

.modal-image.zoomed {
  cursor: zoom-out;
  transform: scale(1.5);
}


