@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.carousel-container {
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  gap: 3rem;
  transition: transform 500ms ease-in-out;
}

.leaflet-container {
  height: 500px;
  width: 100%;
}

.breadcrumb {
  background-color: #f8f9fa;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  border-radius: 0.25rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "›";
  display: inline-block;
  margin-right: 0.5rem;
  color: #6c757d;
}

.breadcrumb-item a {
    align-items: center;
  }
  .breadcrumb-item a svg {
    margin-right: 0.5rem;
  }
  
  a:hover {
  text-decoration: none;
}

