@tailwind base;


@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.carousel-container {
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  gap: 3rem;
  transition: transform 500ms ease-in-out;
}

.leaflet-container {
  height: 500px;
  width: 100%;
}

.breadcrumb {
  background-color: #f8f9fa;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  border-radius: 0.25rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "›";
  display: inline-block;
  margin-right: 0.5rem;
  color: #6c757d;
}

.breadcrumb-item a {
    align-items: center;
  }
  .breadcrumb-item a svg {
    margin-right: 0.5rem;
  }
  
  a:hover {
  text-decoration: none;
}

@media (max-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.modal-image {
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: contain;
  cursor: zoom-in;
  transition: transform 0.2s;
}

.modal-image.zoomed {
  cursor: zoom-out;
  transform: scale(1.5);
}

.activeTab {
  border-color: transparent !important;
  color: #10b981 !important; /* Warna hijau */
}

.activeTab .svg-inline--fa {
  color: #10b981 !important; /* Warna hijau pada icon */
}

.activeTab:hover,
.group:hover {
  border-color: #e5e7eb;
}

.group {
  border-color: transparent !important;
  color: #6b7280 !important;
}

.group .svg-inline--fa {
  color: #6b7280 !important;
}

.group:hover {
  border-color: #e5e7eb;
}

/* Tambahkan kelas berikut */
.activeTab .group {
  color: #10b981 !important; /* Warna hijau pada teks pada saat tab aktif */
  border-color: transparent;
  outline: none;
  outline-offset: 2px;
  border-bottom-width: 2px;
}




